<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Website</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/tictac.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='/imgs/favicon.ico') }}">
        <script src="{{ url_for('static', filename='/js/tictac.js') }}"></script>
    </head>
    <body>
        <nav class="fixed-nav-bar">
            <a id="home-button" href="/"><img width="5%" hieght="5%" src="{{ url_for('static', filename='imgs/home-icon.png') }}"></a>
            <a  id="tictactoe-button" href="/tictactoe"><img width="5%" hieght="5%" src="{{ url_for('static', filename='imgs/tactictoe.png') }}"></a>
        </nav>

        <div id="board">

        <img id="1" onclick="clicked(this)" class="tic-button" src="{{ url_for('static', filename='/imgs/tictactoe/N.png') }}">
        <img id="2" onclick="clicked(this)" class="tic-button" src="{{ url_for('static', filename='/imgs/tictactoe/N.png') }}">
        <img id="3" onclick="clicked(this)" class="tic-button" src="{{ url_for('static', filename='/imgs/tictactoe/N.png') }}">
        <br>
        <img id="4" onclick="clicked(this)" class="tic-button" src="{{ url_for('static', filename='/imgs/tictactoe/N.png') }}">
        <img id="5" onclick="clicked(this)" class="tic-button" src="{{ url_for('static', filename='/imgs/tictactoe/N.png') }}">
        <img id="6" onclick="clicked(this)" class="tic-button" src="{{ url_for('static', filename='/imgs/tictactoe/N.png') }}">
        <br>
        <img id="7" onclick="clicked(this)" class="tic-button" src="{{ url_for('static', filename='/imgs/tictactoe/N.png') }}">
        <img id="8" onclick="clicked(this)" class="tic-button" src="{{ url_for('static', filename='/imgs/tictactoe/N.png') }}">
        <img id="9" onclick="clicked(this)" class="tic-button" src="{{ url_for('static', filename='/imgs/tictactoe/N.png') }}">

        </div>

        <br><br><br><br>
        <p id="win"></p>

    </body>
</html>