.fixed-nav-bar { position: fixed; top: 0; left: 0; z-index: 9999; width: 100%; height: 100px; background-color: #00a087;}

.nav-bar-mid {
    align-items:center;
    text-align:center;
}

.tic-button {
    width: 10%;
    height: 10%;
}

#board {
    align-items: center;
    margin-top: 10%;
    margin-left: 10%;
}